# Python gereksizleri
__pycache__/
*.py[cod]
*$py.class

# Sanal ortam (Virtual Environment)
.venv/
venv/
env/

# Veritabanı dosyaları (Şemayı gönderiyoruz ama datayı genellikle göndermeyiz)
*.db
*.sqlite3

# Editör ayarları
.vscode/
.idea/

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db